In [2]:
import pandas as ps
df=ps.read_csv("C://Users//ramna//file//DataFrame//Budget.csv")

In [3]:
df

         Day Vegetable      Fruits  Price        Date
0     Monday    Potato      Orange     50  02-05-2020
1    Tuesday    Carrot       Apple    195  03-05-2020
2  Wednesday   Brinjal   Jackfruit     37  04-05-2020
3   Thursday     Beans      Banana     25  05-05-2020
4     Friday    Tomato      Papaya     46  06-05-2020
5   Saturday    Onions  Pomogrante    130  07-05-2020
6     Sunday     Chili      Sapota     60  08-05-2020

In [4]:
df.shape

(7, 5)

In [5]:
rows, columns=df.shape

In [6]:
rows

7

In [7]:
coumlmns

NameError: name 'coumlmns' is not defined

In [10]:
df.head(2)

       Day Vegetable  Fruits  Price        Date
0   Monday    Potato  Orange     50  02-05-2020
1  Tuesday    Carrot   Apple    195  03-05-2020

In [11]:
df.tail()

         Day Vegetable      Fruits  Price        Date
2  Wednesday   Brinjal   Jackfruit     37  04-05-2020
3   Thursday     Beans      Banana     25  05-05-2020
4     Friday    Tomato      Papaya     46  06-05-2020
5   Saturday    Onions  Pomogrante    130  07-05-2020
6     Sunday     Chili      Sapota     60  08-05-2020

In [15]:
df.columns

Index(['Day', 'Vegetable', 'Fruits', 'Price', 'Date'], dtype='object')

In [19]:
type(df['Day'])

pandas.core.series.Series

In [28]:
df['Price'].mean()

77.57142857142857

In [56]:
df.reset_index(inplace=True)

In [58]:
df.set_index('Day',inplace=True)

In [59]:
df

           index  Price Vegetable      Fruits        Date
Day
Monday         0     50    Potato      Orange  02-05-2020
Tuesday        1    195    Carrot       Apple  03-05-2020
Wednesday      2     37   Brinjal   Jackfruit  04-05-2020
Thursday       3     25     Beans      Banana  05-05-2020
Friday         4     46    Tomato      Papaya  06-05-2020
Saturday       5    130    Onions  Pomogrante  07-05-2020
Sunday         6     60     Chili      Sapota  08-05-2020

In [63]:
df.loc['Monday']

index                 0
Price                50
Vegetable        Potato
Fruits           Orange
Date         02-05-2020
Name: Monday, dtype: object